<header class="page-header">
  <div class="container">
    <a href="#" class="logo">
      <svg class="logo__icon">
        <use href="{{this.spriteUrl}}#icon-logo"></use>
      </svg>
    </a>
  </div>
</header>